div.footer {

  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #EEEEEE;
}

div.footer .info {
  display: flex;
  align-items: center;
  width: 80%;
}

div.footer .info text {
  font-size: 0.8em;
  opacity: .54;
}

div.footer .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.footer .links a {
  padding: 10px;
}

div.footer .links a img {
  width: 30px;
}
